/* navy:112b3c blue:205375 orange:f66b0e white:efefef*/

body{font-family:"Verdana",sans-serif;margin:0;padding:0;background-color: #efefef;color: #101010;}
header{padding:48px 0;}
h1,h2,h3{margin:0;padding:8px 16px;color: #f66b0e;}
p{margin:6px 16px}
a{color:#205375;text-decoration:none}
a:hover{text-decoration:underline}
a:active{background-color: #205375;color: #efefef}
a:visited{color:#112b3c}
footer{padding:20px;text-align:center}

.wh{color:#fff;text-shadow:0 0 2px #112b3c}
.skils{padding:8px;margin:2px;color:#fff;background-color:#112b3c;display:inline-block}

#ini{font-size:1.1rem}
#hdr{background-image:url('img/protruding-squares.svg');background-position:center;background-size:contain}

.mtext{text-align:center}
.mtext p{padding:16px 32px}
.qel{margin:8px 12px;display:flex;border: 1px solid #ddd;}
.qel img{width:120px;height:120px}
.alk{margin:0 12px;padding:8px 16px;display:inline-block}
.bk{background:#112b3c;color: #efefef}
.dbox{margin:4px;padding:16px}

#que{display:grid;grid-template-columns:1fr}
#soc{margin:0px 8px;display:grid;grid-template-columns:1fr;gap:2px}
#soc a{display:inline-block;padding:12px;color: #efefef;background-color: #205375;text-align:center}
@media (min-width:540px){
body > *{margin:auto 16px}
.mtext{text-align: start;}

#que{margin:8px 16px}
#soc{margin:8px 24px;grid-template-columns:1fr 1fr}
}
@media (min-width:960px){
body > h2,body > p{margin:auto 32px}

#soc{margin:8px 32px;grid-template-columns:repeat(4,1fr)}
}
@media (min-width:1360px){
body > h2, body > p{margin: auto 64px}
}
