body{margin:0;padding:0;font-family:'Verdana','Arial',sans-serif;
user-select:none;-webkit-user-select:none;-moz-user-select:none;
-ms-user-select:none}
section{padding:8px 16px}
a{text-decoration:none}
a:hover{text-decoration:underline}
footer{text-align:center;padding:20px}

.blb{background:#004AAD;color:#fff;}
.skb{background:#7bceff;color:#fff}
.bl{color:#004AAD}
.sk{color:#7bceff}

.htx{color:#404040;font-size:1.2em;}
.ic{width:1.2rem;height:1.2rem;vertical-align:text-bottom}
.btn{padding:12px 0}
.mbtn{color:#fff;background-color:transparent;margin:0;padding:4px 8px;font-size:1rem;border:thin solid #004aad;border-radius:6px;display:inline-block}
.mbtn:active{background-color:#004aad}

.prod{display:grid;grid-template-columns:1fr 1fr;grid-gap:16px;margin:16px;}
.prod div{padding:16px;text-align:center;box-shadow:2px 4px 8px #c8c8c8}
.prod img{width:100%;height:auto;background-color:#fff;display:block}
.prod strong{color:#004AAD}

#sofa{
background-image:url('img/icon.png');
background-size:contain;
background-position:right center;
background-repeat:no-repeat;
}
#sofa div{
background-color:rgba(255,255,255,0.5);
margin:32px 16px;padding:16px;
display:inline-block;font-family:'Arima Madurai',cursive}

#sofa p{margin:0;padding:8px 12px}
#sofa h1, #sofa h3{display:inline-block;margin:8px 0}

#pr1{padding-bottom:200px}
#soc a{padding:12px;border:2px solid #7bceff;display:inline-block}
#soc a:hover{border-color:#004AAD}
#soc a:active{background-color:#004AAD;color;#fff}

@media (max-width:300px){
.prod{grid-template-columns:1fr}
}

@media (min-width:540px){
section{padding:16px 24px}

.prod{grid-template-columns:repeat(3,1fr)}

#sofa div{margin-left:32px}
#sofa p{padding-left:24px}
}
@media (min-width:800){
section{padding:16px 32px}
.prod{margin:8px 24px}
}

@media (min-width:960px){
section{padding:16px 40px}
.prod{margin:10px 40px;grid-template-columns:repeat(4,1fr);}
#sofa div{margin-left:64px}
#sofa p{padding-left:32px}
#pr1{padding-right:400px;padding-bottom:16px}
}
@media (min-width:1360px){
section{padding:20px 64px}
.prod{margin:10px 80px;grid-template-columns:repeat(6,1fr)}
#pr1{padding-right:800px}
}
